# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - master
  - refs/tags/v*

pool:
  vmImage: "windows-2022"

variables:
  buildConfiguration: "Release"
  unitTestProjects: "**/test/unit/**/*.csproj"
  testResultsDirectory: "d:/a/1/TestResults"
  MSBUILDSINGLELOADCONTEXT: 1
  disable.coverage.autogenerate: "true"

steps:
  - task: UseDotNet@2
    displayName: "Use .NET Core SDK 8.0.x"
    inputs:
      packageType: "sdk"
      version: 8.0.x
      installationPath: $(Agent.ToolsDirectory)/dotnet

  - task: UseDotNet@2
    displayName: "Use .NET Core SDK from global.json"
    inputs:
      packageType: "sdk"
      useGlobalJson: true

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      verbosityRestore: Quiet
      arguments: AdaskoTheBeAsT.MediatR.SimpleInjector.sln --verbosity quiet

  - task: DotNetCoreCLI@2
    displayName: "Restore dotnet tools"
    inputs:
      command: 'custom'
      custom: 'tool'
      arguments: 'restore'

  - task: SonarCloudPrepare@3
    displayName: "Prepare analysis on SonarCloud"
    inputs:
      scannerMode: "dotnet"
      SonarCloud: "Sonar.AdaskoTheBeAsT.MediatR.SimpleInjector"
      organization: "adaskothebeast-github"
      projectKey: "AdaskoTheBeAsT_AdaskoTheBeAsT.MediatR.SimpleInjector"
      projectName: AdaskoTheBeAsT.MediatR.SimpleInjector
      extraProperties: |
        sonar.cs.vstest.reportsPaths="$(testResultsDirectory)/*.trx"
        sonar.cs.vscoveragexml.reportsPaths="$(Build.SourcesDirectory)/coverage.xml"
        sonar.resharper.cs.reportPath=$(Build.SourcesDirectory)/CodeQualityResults.xml

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      arguments: "AdaskoTheBeAsT.MediatR.SimpleInjector.sln --configuration $(buildConfiguration) --no-restore"

  - task: CopyFiles@2
    displayName: "Copy nuget packages"
    inputs:
      sourceFolder: "$(Build.SourcesDirectory)"
      contents: "**/$(BuildConfiguration)/**/?(AdaskoTheBeAsT.*.nupkg|AdaskoTheBeAsT.*.snupkg)"
      targetFolder: "$(Build.SourcesDirectory)/nuget"
      CleanTargetFolder: true
      flattenFolders: true

  - task: DeleteFiles@1
    displayName: "Clear test results"
    inputs:
      SourceFolder: "$(testResultsDirectory)"
      Contents: "**/*"

  - task: DotNetCoreCLI@2
    displayName: "Test and collect coverage"
    inputs:
      command: "custom"
      custom: "dotnet-coverage"
      arguments: >
        collect "dotnet test AdaskoTheBeAsT.MediatR.SimpleInjector.sln
        --no-restore
        --no-build
        --configuration $(buildConfiguration)
        --logger trx
        --results-directory $(testResultsDirectory)
        -p:RunCodeAnalysis=false
        -p:TreatWarningsAsErrors=false
        -p:TestTfmsInParallel=false"
        --settings $(Build.SourcesDirectory)/coverage.settings.xml
        -f xml
        -o $(Build.SourcesDirectory)/coverage.xml

  - task: DotNetCoreCLI@2
    displayName: "Launch ReSharper inspect code"
    continueOnError: true
    inputs:
      command: "custom"
      custom: "jb"
      arguments: "inspectcode $(Build.SourcesDirectory)/AdaskoTheBeAsT.MediatR.SimpleInjector.sln -o=$(Build.SourcesDirectory)/CodeQualityResults.xml"

  - task: SonarCloudAnalyze@3
    displayName: Sonar Cloud analyze

  - task: SonarCloudPublish@3
    displayName: Sonar Cloud publish
    inputs:
      pollingTimeoutSec: "300"

  - task: PublishTestResults@2
    displayName: "Publish Test Results"
    inputs:
      testResultsFormat: "VSTest"
      testResultsFiles: "*.trx"
      searchFolder: "$(testResultsDirectory)"

  - task: reportgenerator@5
    displayName: "Convert coverage to Cobertura + HTML"
    inputs:
      reports: "$(Build.SourcesDirectory)/coverage.xml"
      targetdir: "$(testResultsDirectory)/coverage"
      reporttypes: "Cobertura"

  - task: PublishCodeCoverageResults@2
    inputs:
      summaryFileLocation: "$(testResultsDirectory)/coverage/Cobertura.xml"
      pathToSources: "$(Build.SourcesDirectory)"

  - task: CopyFiles@2
    displayName: "Copy nuget packages"
    inputs:
      sourceFolder: "$(Build.SourcesDirectory)/nuget"
      contents: "**/*"
      targetFolder: "$(Build.ArtifactStagingDirectory)"
      CleanTargetFolder: true

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: "$(Build.ArtifactStagingDirectory)"
      artifactName: NugetPackages

  - task: NuGetToolInstaller@1
    displayName: "Install nuget"
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      versionSpec:
      checkLatest: true

  - task: NuGetCommand@2
    displayName: 'Publish to nuget'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.snupkg'
      nuGetFeedType: 'external'
      publishFeedCredentials: 'Nuget'
